<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/ejs_production.js"></script>
  <title>Test 2</title>
</head>

<body>
  <div class="obj1">
    <div class="container option">
      <span class="text">Option</span>
    </div>

    <div class="container quantity">
      <span class="text">Quantity</span><br>
      <input type="number" min="0">
    </div>
  </div>

  <div class="obj2">
    <select class="dropdown">
      <option value="A"> A </value>
      <option value="B"> B </value>
    </select>
  </div>


  <div class="obj3">
  </div>

  <script src="js/script.js"></script>

</body>

</html>
